* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.main {
    background: linear-gradient(to top right, black, rgb(1, 11, 19));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: linear-gradient(to bottom left, black, rgb(1, 11, 19));

    /* background-color: rgb(0, 7, 10); */
}

.logo {
    color: skyblue;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
    color: skyblue;
}

.cn {
    width: 110px;
    height: 25px;
    background: skyblue;
    border: none;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.cn a {
    text-decoration: none;
    color: black;
    /* display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center; */
}

.cn:hover {
    background: white;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 10%;
    color: white;
    flex-grow: 1;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-content {
    flex: 1;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-bottom: 20px;
}

.port {
    color: skyblue;
    font-size: 80px;
}

.par {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
}


.image {
    flex: 0 0 300px;
    margin-left: 40px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    mix-blend-mode: screen;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul {
        flex-direction: column;
        margin-top: 15px;
    }

    .menu ul li {
        margin: 10px 0;
    }

    .search {
        margin-top: 15px;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .image {
        margin-left: 0;
        margin-top: 20px;
    }
}